
body { 
    background-color: #E7F9AA;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.cont {
    top: 0;
    min-height: calc(100% - 200px);
    position: relative;
}

.side {
    width: 100%;
    background-color: #F3DD00;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.header {
    top: 0;
    box-shadow: 0 0 10px 0 #333333;
}

.footer {
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    box-shadow: 0 0 10px 0 #333333;

    color: #BEAE00;
}

.center {
    display: block;
    margin: auto;
}

.app-cintainer {
    text-align: center;
    margin-top: 200px;
    padding-bottom: 90px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 0 1em 0;
}

table {
    margin: 0;
    text-align: center;
    border-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.details:not(.hidden) {
    border-bottom: 2px solid #333333;
}

.rider-name {
    padding-left: 0.5em;
    text-align: left;
}

.rider-name a {
    color: #333333;
    text-decoration: none;
}

.stage {
    font-weight: bold;
}

.rider-name a:hover {
    color: #000000;
    font-weight: bold;
}

th {
    background-color: #333333;
    color: #DAF47B;
}

p {
    margin-top: 0;
}

h3 {
    margin-bottom: 0.5em;
}

tbody tr:nth-child(odd) td {
    background-color: #BBDA4A;
}

tbody tr:nth-child(even) td {
    background-color: #DAF47B;
}

.teams:hover, .hl {
    filter: brightness(70%);
}

tfoot {
    background-color: #FCEA0A;   
}

.hidden {
    visibility: collapse;
}

.middle-list {
    margin: auto;
    width: 44em;
}

.stage-select {
    font-weight: bold;
    width: 100%;
    font-size: 1.25em;
    display: table;
    margin-bottom: 1em;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.select-btn {
    min-width: 1em;
    padding: 0.25em 0;
    color: #DAF47B;
    background-color: #333333;
    display: table-cell;
    text-decoration: none;
    cursor: hand;
}

.select-btn:hover, .selected {   
    color: #333333;
    background-color: #FDEF53;
}

.rider-list, .riders-list {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 2.5em;
}

#team-list {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 2.5em;
}

.teams {
    /*padding-top: 8px;*/
    padding-top: 0.5em;
    height: 3.25em;
    background-color: #CFE575;
    cursor: hand;
}

.team {
    display: inline-block;
}

.team-name {
    border-right: 1px solid #333333;
}

.teams.odd {
    background-color: #DAF47B;
}

.team.info {
    float: left;
    padding-left: 1em;
    margin: 0;
    height: 100%;
    width: 60%;
}

.score-total {
    border-left: 1px solid #333333;
    font-weight: bold;
}

.team.position {
    margin: 0;
    width: 2em;
    float: left;
    padding-left: 1em;
}

.intro {
    margin: auto;
    width: 44em;
}

.name {
    font-weight: 800;
}

.name, .owner {
    vertical-align: middle; 
    text-align: left;
}

.score, .position {
    line-height: 3em;
    vertical-align: middle; 
}

.team.score {
    text-align: right;
    margin: 0;
    width: 20%;
    display: inline-block;
    float: right;
    padding-right: 1.5em;
}

.team.position::after {
    content: ".";
}

.team.score::after {
    content: " points";
}

.sp-circle {
    width: 48px;
    height: 48px;
    clear: both;
    margin: 64px auto;
    border: 6px rgba(33, 33, 33, 0.25) solid;
    border-top: 6px black solid;
    border-radius: 50%;
    animation: spCircRot .666s infinite linear;
}

@keyframes spCircRot {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}