
body { 
    background-color: #FDEF53;
    color: #333333;
    font-family: "Open Sans", sans-serif;
}

div.header {
    width: 100%;
    background-color: #F3DD00;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
}

img.center {
    display:block;
    margin:auto;
}


.score-total {
    font-weight: bold;
}

.sp-circle {
    width: 48px;
    height: 48px;
    clear: both;
    margin: 64px auto;
    border: 6px rgba(33, 33, 33, 0.25) solid;
    border-top: 6px black solid;
    border-radius: 50%;
    animation: spCircRot .666s infinite linear;
}

@keyframes spCircRot {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}